.sugestions {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
    align-items: center;
    width: 100%;
    .suggestion-title {
      font-size: 14px;
 
      font-family: "-apple-system, BlinkMacSystemFont, " Segoe UI
        ", Roboto, Helvetica, Arial, sans-serif";
    }
    .sugestion-name {
      text-decoration: none;
      color: black; 
      align-items: center;
      justify-content: center;
      width: 150px;
      flex-direction: row;
      font-size: 16px;
      font-family: "-apple-system, BlinkMacSystemFont, " Segoe UI
        ", Roboto, Helvetica, Arial, sans-serif";
        .name{
          color: black;
        }
    }
    button {
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      color: $color-prime;
      background-color: white;
      font-weight: 600;
      font-size: 12px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif;
    }
  }