.side-menu {
  border-right: 1px solid rgb(214, 198, 198);
  width: 335px;
  height: 100vh;
  padding-top: 8px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  background-color: white;
  // text-align: center;

  .top-menu {
    visibility: hidden;
    position: absolute;
    display: flex;
    top: 0;
    width: 100vw;
    height: 7vh;
    margin-top: 0;
    gap: 5%;
    background-color: white;
    justify-content: center;
    align-items: center;
    color: black;
    
    
  }

  .bottom-menu {
    visibility: hidden;
    position: absolute;
    justify-content: center;

    bottom: 0;
    width: 100vw;
    height: 8vh;
    margin-top: 0;
    gap: 1%;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: black;
    a{
      color: black;
      .list-menu {
        width: 100%;
        justify-content: center;
        align-items: center;
      }
    }

    .bottom-bts {
      display: flex;
      justify-content: space-evenly;
      justify-content: center;
      align-items: center;
      padding: 0;
      gap: 2%;
      margin-top: 5;

  
    }
    li {
      width: 100%;
      justify-content: center;
      align-items: center;

    }
  }

  .instagran-logo {
    margin-left: 30px;
    margin-top: 12%;
  }

  .menu {
    padding-left: 0;
    height: 100vh;

    .list-menu {
      width: 100%;
      margin: 6px;
      padding: 24px;
      margin-left: 10px;

      display: flex;
      gap: 10px;
      height: 5px;
      align-items: center;
      outline-color: transparent;
      font-size: 16px;
      color: black;
    }
    .list-menu:hover {
      width: 92%;
      background-color: #f1ecec;
      border-radius: 10px;
      border-bottom: transparent;

      .icon {
        transform: scale(1.1);

      }
    }

    .list-menu:active {
      font-weight: bold;
    }

    .active{
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: 1660px) {
  .instagran-logo {
    margin-left: 10px;
    margin-top: 12%;
  }
  .side-menu {
    width: 15%;
  }

}


@media only screen and (max-width: 1175px) {

  .side-menu  .instagran-logo {
    width: 15px;
    margin-left: 30px;
    margin-top: 12%;
  }

  .side-menu {
    position: fixed;
    left: -10%;
    top: 0;
    left: 0;
    flex-direction: column;
    background-color: #fff;
    height: 100%;
    width: 20%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .top-menu {
    visibility: hidden;
  }
  .bottom-menu {
    visibility: hidden;
  }

  .list-menu li{
    margin: 2.5rem 0;
    width: 0%;
    left: 0;
    margin-top: 0;
    padding: 0;
    display: flex;
    gap: 5px;
    height: 60px;
    align-items: center;
    outline-color: transparent;
    font-size: 0;
    margin-left: 30px;

  }
}

@media only screen and (max-width: 1157px) {
  
  .side-menu {
    width: 12%;
  }
 .list-menu {
  padding: 0;
  }
  .top-menu {
    visibility: hidden;
  }
  .bottom-menu {
    visibility: hidden;
  }

  .instagran-logo {
    visibility: hidden;
  }

  .list-menu {
    padding: 0;

  }


  .btn-name {
    visibility: hidden;
  }
}

@media only screen and (max-width: 1024px) {

  
  .top-menu {

    visibility: hidden;
  }

.bottom-menu {
    visibility: hidden;
  }

  .side-menu  {
    width: 12%;
    ul {
      visibility: visible;
    }
  }

  .instagran-logo {
    visibility: hidden;
  }

  .btn-name {
    visibility: hidden;
  }

  .home-page {
    padding: 0;
  }
}

@media only screen and (max-width: 667px) {
  .side-menu {
  width: 0 !important;
}
.side-menu .top-menu {
    visibility: visible;
  }

  .side-menu .bottom-menu {
    visibility: visible;
  }
  .side-menu .menu{
    visibility: hidden;
    width: 0 !important;
    ul {
      visibility: hidden;
    }
  }
  .story-block {
    width: 100hw;
  }
}

@media only screen and (max-width: 620px) {

  .story-block {
    margin-top: 10%;
    margin-bottom: 15%;
   
  }
  .home-page {
    padding: 0;
  }
}

@media only screen and (max-width: 530px) {


  .home-page {
    padding: 0;
  }
  .side-menu {
    width: 0;
  }
}


.bold {
  color: red;
}

.black {
  color: black;
}