.side-sugestion{
    display: flex;
    flex-direction:column;
    width: 500px;
    height: 945px;
    padding-left: 64px;

    .sugestions{
        border: 1px solid gray;
        display: flex;


     
    }
}