
.story-block{
 margin-top: 10%;
  border-bottom: 1px solid  rgb(214, 198, 198);
  width: 468px;

  .story-titlle{
    margin-bottom: 15px;
    display: flex;
    justify-content:flex-start;
    gap: 8px;
    font-size: 8px;
    margin-left: 15px;

   h2{
      margin-top: 10px;
    }
  }

  .story-img {
    height: 585px;
    width: 100%;
   border-radius: 2px;
   box-shadow: 0 13px 27px -5px #32325d40, 0 8px 16px -8px #0000004d, 0 -6px 16px -6px #00000008;
    object-fit: cover;

  }

  .story-text {
    resize: vertical;
    font-size: 14px;
    font-weight: 450;
    padding-left: 15px;
    width: 100%;


    font-weight: 100;
   
    width: break-word;
    pre{
      margin-bottom: 0;
      font-weight: 400;
      color: black;
      text-wrap: wrap;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    }
  
  }

  .vill-all{
    font-weight: lighter;
    color: gray;
    font-size: 14PX;
    padding-left: 10px;
  }
  .coment-block{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  
  }
}



@media only screen and (max-width: 540px) {
  .story-block{
    width: 80vw;
    overflow: hidden;
    .story-img {

    height: 60vh;
    width: 80vw;
    }
}

}

@media only screen and (min-width: 445px) and (max-width: 540px ) {

  
  .story-block{
    width: 100vw;
    overflow: hidden;
    .story-img {
      
    height: 60vh;
    width: 100vw;
    }
}


}


@media only screen and (max-width: 444px) {

  .story-block{
    width: 100vw;
    overflow: hidden;

    .story-img {
    height: 60vh;
    width: 100vw;
    }
}

}





