
.story-block{
 margin-top: 15px;
  border-bottom: 1px solid  rgb(214, 198, 198);
  width: 470px;
  .story-titlle{
    margin-bottom: 15px;
    display: flex;
    justify-content:flex-start;
    gap: 8px;
    font-size: 11px;

    h2{
      margin-top: 10px;
    }
  }

  .story-img {
    width: 100%;
   border-radius: 2px;
   box-shadow: 0 13px 27px -5px #32325d40, 0 8px 16px -8px #0000004d, 0 -6px 16px -6px #00000008;


  }

  .story-text{
    resize: vertical;
    font-size: 14px;
    font-weight: 450;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    width: 100%;


    h5{
    font-weight: 100;
    color: gray;
    width: break-word;

  }
  }

  .vill-all{
    font-weight: lighter;
    color: gray;
  }
  .coment-block{
    display: flex;
    justify-content: flex-start;
    width: 100%;
  
  }
}


// .svgMenuLine{
//     display: flex;
//     width: 468px;
//     justify-content:space-between;
// }
// .story-text{
//     width: 90%;
//     font-family:Georgia, 'Times New Roman', Times, serif

// }
// .svgMenu{
//     display: flex;
//     justify-content:flex-start;
// }

// .storyTitlle{
//     display: flex;
//     justify-content: flex-start;
//     margin-bottom: 2px;
//     font-size: 14px;
// }
// .commnet-button{
//     margin-top: 0;
//     background: none;
//     color: inherit;
//     border: none;
//     padding: 0;
//     font: inherit;
//     cursor: pointer;
//     outline: inherit;
// }


