.story-details {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  background-color: rgba(89, 89, 89, 0.8);
  overflow-y: hidden;


  .story-button {
    appearance: none;
    color: white;
    background-color: #7a7a7a;
    font-size: 25px;
    font-weight: 100;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .story {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 89%;
    width: 67%;
    transform: translate(-55%, -50%);
    background-color: white;
    border-radius: 5px;
overflow-x: hidden;
    .divide-post {
      display: flex;
      align-items: flex-start;
      height: 100%;

      .img-story {
        width: 60%;
        height: 100%;

        object-fit: cover;
      }
 

      .coments-story {
        display: flex;
        list-style: none;

        flex-direction: column;
        width: 40%;
        height: 85vh;
        .coments-story{
          width: 100%;
        }
        .story-header{
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid  rgb(214, 198, 198);
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 18px;
          margin-top: 0;
  
          
          .story-titlle-detailed {
  
            display: flex;
            justify-content: flex-start;
            padding-left:2%;
            h2 {
              margin-top: 5px;
              font-size: 18px;
              margin-left: 10px;
              font-weight: 500;
            }
          }
  
          button {
            margin-top: 0;
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
          }
        }

        .post-detailed{
          display: flex;
          margin-left: 3px;
          margin-top: 5%;
          margin-bottom: 7%;
        }
        .tilte-block{
          width: 90%;
          display: flex;
          font-family:$fi;

          p{
            margin-left: 3%;
            margin-bottom: 0;
          }

        }


        .post-list {
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 5%;
          .comment-time{
            margin-left: 45px;
          }
        
          .storyTitlle{
            margin-right: 2%;
            margin-bottom: 0;
            justify-content: space-between; 
              
            .tilte-block{
              display: flex;
              h3{
                width: 100px;
              }
            } 
          
            .love{
              
              margin-left: 10%;
            }
          }
          }
          h3 {
            margin-top: 5px;
            margin-left: 3%;
            margin-bottom: 0;
            font-size: 15px;
            font-weight: 700;
          }
          p {
            margin-left: 45px;
            font-size: 15px;
          }

          .menu-bar{
            padding-top: 15px;
            height: 15vh;
            border-bottom: 1px solid  rgb(214, 198, 198);
            border-top: 1px solid  rgb(214, 198, 198);
            padding-left: 3%;
            margin-bottom: 5px;
          }
          .story-post{
            display: flex;
            gap: 10px;
            padding: 5px;
          }

  
        

        ::-webkit-scrollbar {
          width: 10px;
        }
        
        /* Track */
        ::-webkit-scrollbar-track {
          background: #f1f1f1; 
        }
         
        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: white; 
        }
        
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: white; 
        }
      }
    

    }
  }
}
ul{
  height: 60vh;
  overflow: auto;
  padding-left: 5%;
  ::-webkit-scrollbar {
    width: 10px;
}

}


li {
  list-style: none;
}




  @media only screen and (max-width: 1030px) {
 

    .divide-post {
      display: flex;
      flex-direction: column;
      .coments-story {
        .story-header {
          visibility: hidden;
        }
        .post-list {
          visibility: hidden;
        }
        .storyTitlle {
          visibility: hidden;
        }
        .menu-bar {
          margin-top: 0;
        }
        .compose-buttone {
          visibility: hidden;
        }
      }
    }
  
    ul {
      visibility: hidden;
    }
    .story-details {
      .story {

        height: 72%;
      }
      position: fixed;
      overflow: hidden;
    }
    .story-details .story .divide-post .img-story {
      width: 100%;
      height: 70%;


    }
   .story-details .story .divide-post .coments-story {
      display: flex;
      justify-content: center;
      width: 100%;
      flex-direction: column;
      height: 0;

    }

  }

    

          


    // @media only screen and (max-width: 700px){

    //   .story-details .story {
    //     height: 60vh;
    //   }
    
    // }

    // @media only screen and (max-width: 395px){

    //   .story-details .story {
    //     height: 65vh;
    //   }
    
    // }

    // @media only screen and (max-width: 380px){

    //   .story-details .story {
    //     height:48vh;
    //   }
    
    // }





  

