.home {
  height: 100vh;
  overflow-x: hidden;   
}
.home-page {

  margin-left: 25%;
  width: 80vw;
  height: 100vh;
  display: flex;
  gap: 5%;

}
.side-menu {
  position: absolute;
  left: 0;
}

.side-sugestion {
  width: 25vw;
  margin-left: 124px;
  margin-top: 54px;

  .sugestion-loginuser {
    display: flex;
    margin-bottom: 10%;
    gap: 5%;
    margin-left: 0;
    .sugestion-name {
      display: flex;
      flex-direction: row;

      h6 {
        display: grid;
      }
    }
  }
  .sugestions {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    align-items: center;
    width: 270px;
    .suggestion-title {
      font-size: 14px;
 
      font-family: "-apple-system, BlinkMacSystemFont, " Segoe UI
        ", Roboto, Helvetica, Arial, sans-serif";
    }
    .sugestion-name {
      align-items: center;
      justify-content: center;
      width: 150px;
      flex-direction: row;
      font-size: 16px;
      font-family: "-apple-system, BlinkMacSystemFont, " Segoe UI
        ", Roboto, Helvetica, Arial, sans-serif";
    }
    button {
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      color: $color-prime;
      background-color: white;
      font-weight: 600;
      font-size: 12px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif;
    }
  }
}
.gray {
  color: gray;
}

.black{
  color: black;
}

@media only screen and (max-width: 1660px) {
  .home-page {
    margin-left: 25%;
    
  }
  .side-sugestion {
    margin-right: 35%;
  }
}

@media only screen and (max-width: 1390px) {
  .home-page {
    margin-left: 25%;

  }

  .side-sugestion{
    margin-left: 5%;
  }
}

@media only screen and (max-width: 1260px) {
  .home-page {
    padding-right: 10%;
    width: 80vw;
    height: 90%;

  }
 
}

@media only screen and (max-width: 1160px) {

  
    .side-sugestion {
        visibility: hidden;
      }

      .home-page {
        padding-left: 5%;
        padding-right: 6%;
        width: 75vw; 
 
      }
   
  }

@media only screen and (max-width: 860px) {

  .top-menu{
    gap: 10px;
  }

  .story-block {

    width: 90vw;
  }

  .home-page {
    padding-left: 0;
    padding-right: 0;

    width: 75vw; 

  }
}



@media only screen and (max-width: 700px) {
  .home-page{
    margin-top: 5vh;
    margin-left:15%;

    .story-list{
      width: 100%;
      justify-content: center;
      align-items: center;
    }
        }
        .top-menu {
          visibility: visible;
        }
  .story-block {


    height: 70%;
    width: 80%;
  }

}
@media only screen and (max-width: 600px) {
  .home-page{
    width: 100%;
    margin-left: 10%;
    
        }

  .story-block {


    height: 70%;
    width: 0%;
  }


}


