.main{
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 7fr 2fr ;
    grid-template-areas:  ". . home .";
                       
    overflow-x: hidden;

}

.pages{
    grid-area: home;
    // grid-area: 3/6;
    // white-space : nowrap;
}
