.profile-page {
  width:100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 15px;

  background-color: white;
  .grid-container {
    margin-left: 150px;
    width: 75%;
    height: 98%;


    .profile-container {
      height: 30%;
      display: grid;
      //grid-template-rows: 0.4fr 0.4fr 0.2fr 0.1fr 0.4fr 1fr;
      grid-template-rows: 0.4fr 0.4fr 0.2fr 0.1fr;
      grid-template-columns: 3fr 6fr;

      margin-bottom: 0;
      .img-grid {
        display: flex;
        grid-row: 1 / 4;
        grid-column: 1 / 2;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
      }
      .profile-loginname {
        grid-row: 1 / 2;
        display: flex;
        margin-top: 10px;
        gap: 15px;
        button {
          background-color: rgb(189, 189, 189);
          color: rgb(102, 99, 99);
          margin-top: 0;
          width: fit-content;
          height: 25px;
          border-radius: 5px;
        }
      }
      .profile-info {
        display: flex;
        gap: 25px;
      }
    }
    .profile-menu {
      margin-top: 0;
      display: flex;
      justify-content: center;
      border-top: 0.1px solid rgb(221, 216, 216);
      button {
        display: flex;
        gap: 5px;
        height: 50px;
        width: 80px;
        border-top: 1px solid black;
        background-color: white;
        color: black;
        justify-content: center;
        align-items: center;
      }
    }
    .grid-posts {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-grow: 3;
      flex-wrap: wrap;
      gap: 8px;

      .block-story {
        height: 290px;
        width: 290px;

        img {
          border-radius: 3px;
          box-shadow: 0 13px 27px -5px #32325d40, 0 8px 16px -8px #0000004d, 0 -6px 16px -6px #00000008;
          height: auto;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.show{
visibility: visible;
}
.hide{
visibility:none;
}


@media only screen and (max-width: 1918px) {
    .grid-posts.block-story {
    height: 100px;
    width: 100px;
  }
}