.profile-model {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(89, 89, 89, 0.8);
    .profile-button {
        appearance: none;
        color: white;
        background-color: #7a7a7a;
        font-size: 25px;
        font-weight: 100;
        position: absolute;
        top: 5px;
        right: 5px;
      }
    .header{
        border-bottom: 0.1px solid rgb(198, 191, 191);
        display: flex;
        justify-content: center;
        height: 5%;
        margin-top: 1%;
    }
 
    .model {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 80%;
      width: 40%;
      transform: translate(-55%, -50%);
      background-color: white;
      border-radius: 15px;
    }
    .form-modal{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }

  
  